<form class="well form-horizontal">
    <label>From:</label>
    <div class="form-inline">
        <div class="control-group input-append">
            <input type="text" ng-model="datepicker.start" data-date-format="mm/dd/yyyy" bs-datepicker>
            <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
        </div>
        <div class="control-group input-append">
            <input type="text" ng-model="timepicker.start" bs-timepicker>
            <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
        </div>
    </div>
    <label style="margin-left: 5px">To:</label>
    <div class="form-inline">
        <div class="control-group input-append">
            <input type="text" ng-model="datepicker.end" data-date-format="mm/dd/yyyy" bs-datepicker>
            <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
        </div>
        <div class="control-group input-append">
            <input type="text" ng-model="timepicker.end" bs-timepicker>
            <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<ul class="pager">
    <li class="previous">
        <a href="#">&larr; Older</a>
    </li>
    <li class="next">
        <a href="#">Newer &rarr;</a>
    </li>
</ul>

<div class="row" ng-cloak>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <th ng-repeat="field in ['date', 'source', 'type', 'message']">
                {{field}}
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td ng-repeat="field in ['datetime', 'source', 'type', 'message']" ng-click="redirectItem(item)">
                    {{item[field]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>