<form class="form-actions form-inline">
    <label>From:</label>
    <div class="control-group input-append">
        <input type="text" ng-model="datepicker.start" data-date-format="mm/dd/yyyy" bs-datepicker>
        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
    </div>
    <label style="margin-left: 5px">To:</label>
    <div class="control-group input-append">
        <input type="text" ng-model="datepicker.end" data-date-format="mm/dd/yyyy" bs-datepicker>
        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
    </div>
</form>
<div class="row" ng-cloak>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <th ng-repeat="field in ['date', 'source', 'type', 'message']">
                {{field}}
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td ng-repeat="field in ['datetime', 'source', 'type', 'message']" ng-click="redirectItem(item)">
                    {{item[field]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>