<!-- Navbar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <form class="small-margin-left navbar-search pull-left">
            <input type="text" class="search-query" placeholder="Filter" ng-model="filterText">
        </form>
    </div>
</div>
<h3>{{type}}: {{typeName}}</h3>
<form class="well form-inline" ng-submit="search()">

    <label><b>From</b></label>
    <div class="control-group input-append">
        <input type="text" ng-model="datepicker.start" data-date-format="mm/dd/yyyy" bs-datepicker>
        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
    </div>
    <div class="control-group input-append">
        <input type="text" ng-model="timepicker.start" bs-timepicker>
        <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
    </div>

    <label class="inline-form-item-start"><b>To</b></label>
    <div class="control-group input-append">
        <input type="text" ng-model="datepicker.end" data-date-format="mm/dd/yyyy" bs-datepicker>
        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
    </div>
    <div class="control-group input-append">
        <input type="text" ng-model="timepicker.end" bs-timepicker>
        <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
    </div>

    <div class="btn-group inline-form-item-start">
        <button class="btn" style="margin-bottom: 1px">{{typeFilter}}</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown" style="margin-bottom: 1px">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a ng-click="typeFilter='Any'">Any</a></li>
            <li><a ng-click="typeFilter='INFO'">INFO</a></li>
            <li><a ng-click="typeFilter='WARN'">WARN</a></li>
            <li><a ng-click="typeFilter='ERROR'">ERROR</a></li>
            <li><a ng-click="typeFilter='FATAL'">FATAL</a></li>
        </ul>
    </div>

    <button type="submit" class="inline-form-item-start btn btn-primary" style="margin-top: 1px">Search</button>
</form>

<!--<ul class="pager">-->
    <!--<li class="previous">-->
        <!--<a href="#">&larr; Older</a>-->
    <!--</li>-->
    <!--<li class="next">-->
        <!--<a href="#">Newer &rarr;</a>-->
    <!--</li>-->
<!--</ul>-->

<div class="row" ng-cloak>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <th ng-repeat="field in ['date', 'type', 'message']">
                {{field}}
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items | filter:filterText">
                <td ng-repeat="field in ['datetime', 'type', 'message']" ng-click="redirectItem(item)">
                    {{item[field] | truncate:200}}
                </td>
            </tr>
        </tbody>
    </table>
</div>