/* Will be compiled down to a single stylesheet with your sass files */

body {
    padding-top: 70px;
}

.row {
    margin-left: 0px;
}

/* AngularJS Forms Validation
-------------------------------------------------- */
input.ng-invalid,
textarea.ng-invalid,
select.ng-invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}

input.ng-invalid:focus,
textarea.ng-invalid:focus,
select.ng-invalid:focus {
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
    border-color: #e9322d;
}

input[bs-timepicker] {
    width: 60px;
}

input[bs-datepicker] {
    width: 75px;
}

.inline-form-item-start {
    margin-left: 15px;
}